<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Добавление текста</title>
</head>
<body>
    <h1>Добавление текста</h1>
    <button id="addTextButton">Добавить текст</button>
    <div id="textList">
        {% for text in text_list %}
            <p>{{ text }}</p>
        {% endfor %}
    </div>
    <script>
        // Обработчик для кнопки "Добавить текст"
        document.getElementById('addTextButton').addEventListener('click', function() {
            fetch('/add_text', { method: 'POST' })
                .then(function(response) {
                    if (response.status === 204) {
                        return response.text();
                    }
                })
                .then(function(data) {
                    // Обновляем список текста на странице
                    var textList = document.getElementById('textList');
                    var newText = document.createElement('p');
                    newText.textContent = "Этот классный текст добавился, добавь ещё";
                    textList.appendChild(newText);
                });
        });
    </script>
</body>
</html>
